@import "../app/dumy.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Smooth scrolling for the entire site */
html {
  scroll-behavior: smooth;
}

/* For scroll animations */
body {
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Utility classes for easy Tailwind usage */
.font-josefin {
  font-family: var(--font-josefin-sans), "Josefin Sans", Arial, Helvetica,
    sans-serif !important;
}
.font-lexend {
  font-family: var(--font-lexend), "Lexend", Arial, Helvetica, sans-serif !important;
}
.font-share-tech-mono {
  font-family: var(--font-share-tech-mono), "Share Tech Mono", "Fira Mono",
    "Menlo", "Consolas", monospace !important;
}
.font-inter {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif !important;
}

::selection {
  background: #0dff00;
  color: #000;
}
